/*Reference:
Pin Marker - http://bit.ly/2rCa9pY
Header Photo - Seperoper Poster http://bit.ly/2qPCAzH */

html,
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}



.side-nav {
    background: #e19295;
    line-height: 35px;
    text-align: left;
    width: 340px;
}

.header {
    padding: 20px 10px 30px 10px;
    border-bottom: 5px solid #8cb30c;
    background: url(../images/bg.jpg) top center;
    border-top: 5px solid #8cb30c;
    height: 150px;
}

.search {
    width: 100%;
    padding: 5px 0;
    background: white;
}

input {
  font-size: 12px;
  padding: 10px;
    border: 0;
}

input[type="search"] {
    width: 70%;
}

input[type="button"] {
    width: 22%;
    background: #8cb30c;
    color: #fff;
}

input[type="button"]:hover {
    background: #e19295;
    cursor: pointer;
}

.content {
    height: 100%;
}

h1 {
  color: #fff;
  margin: 100px 0;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 3.3em;
  text-shadow: #383737 1px 0 10px;
}

ol.locations {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
    margin-top: 20px;
    margin-left: 3em;
    padding: 0;

    counter-reset: li-counter;
}
ol.locations > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 2px solid #fff;
    padding-right: 20px;
    line-height: 20px;
}
ol.locations > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;

    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #fff;

    content: counter(li-counter);
    counter-increment: li-counter;
}

ol.locations > li:hover{
    background: #8cb30c;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
    position: relative;
    top: 4px;
}


#map {
  bottom:0px;
  height: 100%;
  left: 344px;
  position: absolute;
  right: 0px;
}

/*Media Queries - Mobile*/
@media only screen and (max-width: 500px) {
    .side-nav {
        width: 80%;
    }

    input[type="text"] {
    width: 92%;
    }

    input[type="button"] {
        width: 100%;
        border-bottom: 1px solid white;
    }

    .search {
        padding: 0;
    }

    #map {
        left: 258px;
        opacity: .4;

    }

}
